.main {
    width: 960px;
    margin: 0 auto;
}

.title {
    font-size: 35px;
    margin-bottom: 20px;
}

.publishedAt {
    margin-bottom: 40px;
}

.post {
    & > h1 {
        font-size: 32px;
        font-weight: bold;
        margin: 40px 0 20px;
        padding: 10px 20px;
        border-radius: 5px;
    }

    & > h2 {
        font-size: 28px;
        font-weight: bold;
        margin: 40px 0 16px;
    }

    & > h3 {
        font-size: 24px;
        font-weight: bold;
        margin: 40px 0 16px;
    }

    & > h4 {
        font-size: 20px;
        font-weight: bold;
        margin: 40px 0 16px;
    }

    & > h5 {
        font-size: 18px;
        font-weight: bold;
        margin: 40px 0 16px;
    }

    & > p {
        font-size: 14px;
        line-height: 1.8;
        letter-spacing: 0.2px;
    }

    & > ol {
        list-style-type: decimal;
        list-style-position: inside;
    }

    & > p > code {
        padding: 3.34px;
        border-radius: 5px;
        color: black;
        background-color: white;
    }

    & > pre {
        border-radius: 5px;
        color: black;
        background-color: white;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    & > div > pre {
        border-radius: 5px;
        color: black;
        background-color: white;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
